#displayBox {
  width: auto;
  display: flex;
  justify-content: center;
}

#buttonBox {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  height: 30px;
  width: 60px;
  background-color: gray;
}
